html, body{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lobster', cursive;
  background-color:  #4E2649;
  background-image: url("img/sythe.jpg");
}

.image {
width:250px;
margin-top: 100px;
border-radius: 50% 0;



}
ul{
  margin: 0;
  padding: 0;
}

.container{
  text-align: center;
  display: block;
  margin: auto;
  width: 80%;
}

.active{
  color:#F5B651;
}

.nav{
margin: 0;
padding: 0;
background-color: #9ABEE4;
}


.nav-link{
  display: inline-block;
  margin: 0;
  padding: 25px;
}

iframe {
  display: block;
  margin: auto;


}

table
{
width: 60%;
margin-left: 20%;
margin-right: 20%;
  }
